/*default-color*/
$base-color:#121212;
$base-container-color:#f5f5f5;

/*font*/
$main-font-color:#464646;
$font-color-light:#fff;
/*width*/
$base-width:calc(100vw - 120px);
$phone-width:calc(100vw - 36px);

$gotop-width:48px;
$gotop-height:48px;